<div>
  <div class="section section-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="header-medium">Let's win together</h1>
          <br>
          <p class="home">Businesses should be certain of their future, without being burdened by cash flow obstacles. At Burgeon, we’re creating a fast and affordable way for companies of all sizes to get the capital they need to grow and keep moving forward.</p> 
        </div>
        <div class="col-md-6"></div>
      </div>   
    </div> 
  </div> 
    
  <div class="section section-background">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="container">
            <div class="col-md-8 col-md-offset-2">
              <h5 class="padded-underline">About Us</h5> 
              <br><br><br><br>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="col-md-8 col-md-offset-2">
              <p>We work hard every day to provide small businesses like yours access to capital when you need it. By combining the latest advancements in technology and security with the expertise and care of our team, we’re able to serve business owners nation-wide with efficiency, simplicity, and honesty.</p>  
            </div>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="container">
            <div class="col-md-8 col-md-offset-2">
              <p>At Burgeon, we’re proud to be the answer for thousands of small business owners who rely on us every day to equip them with the funds they need to achieve their business goals.</p>  
            </div>
          </div>
        </div> 
      </div>
      <div class="col-md-6">
        
      </div>
    </div>
  </div>
    
  <div class="section">
    <h2 class="text-center">Meet the Leadership</h2>
  </div>
</div>

